<div class="flex h-screen items-center justify-center">
  <form [formGroup]="myForm" (ngSubmit)="onSave()">
    <div class="rounded-lg border bg-white p-8 shadow-md dark:border-gray-700">
      <h1 class="mb-4 py-6 text-center text-2xl font-semibold text-gray-800">
        {{ isEditMode ? "Editar Plataforma" : "Registrar Plataforma" }}
      </h1>

      <div class="mt-6">
        <label class="mb-1 block text-gray-700">Nombre</label>
        <input
          type="text"
          class="w-full rounded-lg border px-3 py-2 focus:border-monza-500 focus:outline-none focus:ring"
          formControlName="nombre"
        />
      </div>

      <div class="mt-8 flex justify-end">
        <button
          class="w-full rounded-lg bg-monza-500 px-4 py-2 text-white hover:bg-monza-600 active:bg-monza-700 sm:w-auto"
          type="submit"
        >
          {{ isEditMode ? "Actualizar" : "Registrar" }}
        </button>
      </div>
    </div>
  </form>
</div>
