<div class="p-12 w-full">
  <shopusa-table-actions
    title="Categorias"
    [totalRegistros]="categorias.length"
    [urlNuevo]="'/shopusa/categorias/crear'"
  />
  <div
    class="relative flex flex-col w-full h-auto overflow-y-auto text-gray-700 bg-white shadow-lg rounded-lg bg-clip-border"
  >
    <table class="w-full text-center table-auto min-w-max">
      <thead>
        <tr class="border-b border-slate-200 bg-monza-500 text-white">
          <th class="p-4 text-sm font-semibold ">
            <p class="leading-none">#</p>
          </th>
          <th class="p-4 text-sm font-semibold ">
            <p class="leading-none">Nombre</p>
          </th>
          <th class="p-4 text-sm font-semibold ">Acciones</th>
        </tr>
      </thead>
      <tbody
        *ngFor="let categoria of categorias; let i = index"
        class=""
      >
        <tr class="hover:bg-monza-50 cursor-pointer transition-colors">
          <td class="p-4 border-b border-slate-200">
            <p class="text-sm text-slate-800 font-medium">
              {{ i + 1 }}
            </p>
          </td>
          <td class="p-4 border-b border-slate-200">
            <p class="text-sm text-slate-800 font-medium">
              {{ categoria.nombre }}
            </p>
          </td>
          <td class="p-4  border-b border-slate-200 space-x-4">
            <a
              [routerLink]="['/shopusa/categorias/crear', categoria.id]"
              class="inline-block text-sm font-semibold text-slate-800 hover:text-sky-500 transition-colors"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-edit"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                />
                <path
                  d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                />
                <path d="M16 5l3 3" />
              </svg>
            </a>
            <a
              (click)="deleteCategoria(categoria.id)"
              class="inline-block text-sm font-semibold text-red-600 hover:text-red-800 transition-colors"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-x"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
              </svg>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
