<div
  class="mb-6 flex flex-col items-center justify-between space-y-4 sm:flex-row sm:space-y-0"
>
  <div class="flex flex-col items-center gap-4 sm:flex-row sm:space-y-0">
    <h2
      class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0 dark:border-none dark:text-gray-300"
    >
      Gestión de {{ title }}
    </h2>
    <p class="text-muted-foreground text-xl dark:text-gray-300">
      Total de registos: <span class="font-bold">{{ totalRegistros }}</span>
    </p>
  </div>

  <div class="flex items-center justify-center gap-4">
    <a
      [href]="urlNuevo"
      class="w-full rounded-lg bg-monza-500 px-6 py-2 text-white transition hover:bg-monza-600 active:bg-monza-700 sm:w-auto"
    >
      Nuevo
    </a>
    <button
      (click)="exportFunction()"
      class="w-full rounded-lg bg-monza-500 px-6 py-2 text-white transition hover:bg-monza-600 active:bg-monza-700 sm:w-auto"
    >
      Exportar
    </button>
  </div>
</div>
