 <div
    class="flex flex-col sm:flex-row justify-between items-center mb-6 space-y-4 sm:space-y-0"
  >
    <!-- Título -->

    <div class="flex flex-col sm:flex-row items-center gap-4 sm:space-y-0">
      <h1 class="text-2xl font-semibold text-gray-600 text-center sm:text-left">
        Gestión de {{ title }}
      </h1>
      <p class="text-sm text-gray-600">
        Total de registos: <span class="font-bold">{{ totalRegistros }}</span>
      </p>
    </div>

    <div class="flex justify-center items-center gap-4">
      <a
        [href]="urlNuevo"
        class="bg-monza-500 text-white px-6 py-2 rounded-lg hover:bg-monza-600 active:bg-monza-700 transition w-full sm:w-auto"
      >
        Nuevo
      </a>
      <button
        class="bg-monza-500 text-white px-6 py-2 rounded-lg hover:bg-monza-600 active:bg-monza-700 transition w-full sm:w-auto"
      >
        Importar
      </button>

      <button
        class="bg-monza-500 text-white px-6 py-2 rounded-lg hover:bg-monza-600 active:bg-monza-700 transition w-full sm:w-auto"
      >
        Exportar
      </button>
      <!-- Botón de acción -->
      <button
        class="bg-monza-500 text-white px-6 py-2 rounded-lg hover:bg-monza-600 active:bg-monza-700 transition w-full sm:w-auto"
      >
        Filtrar
      </button>
    </div>
  </div>