<div class="p-12">
  <shopusa-table-actions
    [exportFunction]="generateXlsx.bind(this)"
    [totalRegistros]="plataformas.length"
    [urlNuevo]="'/shopusa/plataformas/crear'"
    title="Plataformas"
  />
  <div
    class="relative flex h-auto w-full flex-col overflow-y-auto rounded-lg bg-white bg-clip-border text-gray-700 shadow-lg"
  >
    <table class="w-full min-w-max table-auto text-left">
      <thead>
        <tr class="border-b border-slate-200 bg-monza-500 text-white">
          <th class="p-4 text-center text-sm font-semibold">
            <p class="leading-none">#</p>
          </th>
          <th class="p-4 text-center text-sm font-semibold">
            <p class="leading-none">Nombre</p>
          </th>
          <th class="p-4 text-center text-sm font-semibold">Acciones</th>
        </tr>
      </thead>
      <tbody
        *ngFor="let plataforma of plataformas; let i = index"
        class="text-center"
      >
        <tr class="cursor-pointer transition-colors hover:bg-monza-50">
          <td class="border-b border-slate-200 p-4">
            <p class="text-sm font-medium text-slate-800">
              {{ i + 1 }}
            </p>
          </td>
          <td class="border-b border-slate-200 p-4">
            <p class="text-sm font-medium text-slate-800">
              {{ plataforma.nombre }}
            </p>
          </td>
          <td class="space-x-4 p-4 text-center">
            <a
              [routerLink]="['/shopusa/plataformas/crear', plataforma.id]"
              class="inline-block text-sm font-semibold text-slate-800 transition-colors hover:text-sky-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-edit"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                />
                <path
                  d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                />
                <path d="M16 5l3 3" />
              </svg>
            </a>
            <a
              (click)="deletePlataforma(plataforma.id)"
              class="inline-block text-sm font-semibold text-red-600 transition-colors hover:text-red-800"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-x"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
              </svg>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
