/* sidebar.component.css */

/* Controla la transición entre estados */
.flex {
  transition: all 0.3s ease-in-out;
}

/* Contraer barra lateral */
.w-16 {
  width: 4rem;
}

/* Expandir barra lateral */
.w-64 {
  width: 16rem;
}

/* Ocultar texto cuando la barra está colapsada */
nav > shopusa-sidebar-item {
  display: flex;
  align-items: center;
  overflow: hidden;
}

nav > shopusa-sidebar-item::after {
  content: '';
  display: inline-block;
}

[hidden] {
  display: none !important;
}
