<div class="flex h-screen bg-white shadow-md">
  <div class="flex w-64 flex-col text-gray-500">
    <header class="p-8">
      <img src="shopusa-logo.webp" alt="" />
    </header>
    <nav class="flex-1 overflow-y-auto p-4">
      <shopusa-sidebar-item
        (click)="toggleProductos()"
        [isOpen]="isProductosOpen"
        [toggleVisibility]="toggleProductos"
        routeCreate="/shopusa/productos/crear"
        routeList="/shopusa/productos/listado"
        title="Productos"
      />
      <shopusa-sidebar-item
        (click)="toggleImagenes()"
        [isOpen]="isImagenesOpen"
        [showList]="false"
        [toggleVisibility]="toggleImagenes"
        routeCreate="/shopusa/imagenes/upload"
        title="Imagenes"
      />
      <!-- Categorias Section -->
      <shopusa-sidebar-item
        (click)="toggleCategorias()"
        [isOpen]="isCategoriasOpen"
        [toggleVisibility]="toggleCategorias"
        routeCreate="/shopusa/categorias/crear"
        routeList="/shopusa/categorias/listado"
        title="Categorias"
      />
      <shopusa-sidebar-item
        (click)="toggleSubcategorias()"
        [isOpen]="isSubcategoriasOpen"
        [toggleVisibility]="toggleSubcategorias"
        routeCreate="/shopusa/subcategorias/crear"
        routeList="/shopusa/subcategorias/listado"
        title="SubCategorias"
      />

      <shopusa-sidebar-item
        (click)="toggleComisiones()"
        [isOpen]="isComisionesOpen"
        [toggleVisibility]="toggleComisiones"
        routeCreate="/shopusa/comisiones/crear"
        routeList="/shopusa/comisiones/listado"
        title="Comisiones"
      />
      <shopusa-sidebar-item
        (click)="togglePlataformas()"
        [isOpen]="isPlataformasOpen"
        [toggleVisibility]="togglePlataformas"
        routeCreate="/shopusa/plataformas/crear"
        routeList="/shopusa/plataformas/listado"
        title="Plataformas"
      />
      <shopusa-sidebar-item
        (click)="togglePublicaciones()"
        [isOpen]="isPublicacionesOpen"
        [toggleVisibility]="togglePublicaciones"
        routeCreate="/shopusa/publicaciones/crear"
        routeList="/shopusa/publicaciones/listado"
        title="Publicaciones"
      />
    </nav>
  </div>
</div>
