<div class="flex h-screen">
  <!-- TODO: Sidebar-->
  <div class="hidden lg:block w-64 h-full sticky top-0">
    <shopusa-sidebar></shopusa-sidebar>
  </div>
  <!-- TODO: Main Content -->
  <div class="flex-1 p-6 overflow-y-auto">
    <div
      class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
    ></div>
    <router-outlet></router-outlet>
  </div>
</div>
