<div class="flex h-full items-center justify-center">
  <form [formGroup]="myForm" (ngSubmit)="onSave()" class="w-full max-w-md">
    <div class="rounded-lg border bg-white p-8 shadow-md dark:border-gray-700">
      <!-- Título -->
      <h1 class="mb-4 py-6 text-center text-3xl text-gray-800">
        {{ isEditMode ? "Editar Comisión" : "Registrar Comisión" }}
      </h1>

      <!-- Campo: Valor -->
      <div class="mb-6">
        <label for="valor" class="mb-1 block text-sm font-medium text-gray-700">
          Valor <span class="text-red-500">*</span>
        </label>
        <input
          id="valor"
          type="number"
          class="w-full rounded-lg border border-gray-300 px-3 py-2 text-gray-800 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-monza-500"
          formControlName="valor"
          [class.border-red-500]="
            myForm.get('valor')?.invalid && myForm.get('valor')?.touched
          "
        />
        <error-message
          [show]="
            myForm.get('valor')?.invalid && myForm.get('valor')?.touched
              ? true
              : false
          "
          message="Ingrese un valor válido."
        />
      </div>

      <!-- Campo: Plataforma -->
      <div class="mb-6">
        <label
          for="plataforma"
          class="mb-1 block text-sm font-medium text-gray-700"
        >
          Plataforma <span class="text-red-500">*</span>
        </label>
        <select
          id="plataforma"
          formControlName="plataformaId"
          class="w-full rounded-lg border border-gray-300 px-3 py-2 text-gray-800 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-monza-500"
          [class.border-red-500]="
            myForm.get('plataformaId')?.invalid &&
            myForm.get('plataformaId')?.touched
          "
        >
          <option value="" disabled>Seleccione una plataforma</option>
          <option
            *ngFor="let plataforma of plataformas"
            [value]="plataforma.id"
          >
            {{ plataforma.nombre }}
          </option>
        </select>
        <error-message
          [show]="
            myForm.get('plataformaId')?.invalid &&
            myForm.get('plataformaId')?.touched
              ? true
              : false
          "
          message="Seleccione una plataforma válida."
        />
      </div>

      <!-- Campo: Categoría -->
      <div class="mb-6">
        <label
          for="categoria"
          class="mb-1 block text-sm font-medium text-gray-700"
        >
          Categoría <span class="text-red-500">*</span>
        </label>
        <select
          id="categoria"
          formControlName="categoriaId"
          class="w-full rounded-lg border border-gray-300 px-3 py-2 text-gray-800 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-monza-500"
          [class.border-red-500]="
            myForm.get('categoriaId')?.invalid &&
            myForm.get('categoriaId')?.touched
          "
        >
          <option value="" disabled>Seleccione una categoría</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{ categoria.nombre }}
          </option>
        </select>
        <error-message
          [show]="
            myForm.get('categoriaId')?.invalid &&
            myForm.get('categoriaId')?.touched
              ? true
              : false
          "
          message="Seleccione una categoría válida."
        />
      </div>

      <!-- Botón de acción -->
      <div class="mt-8 flex justify-end">
        <button
          class="w-full rounded-lg bg-monza-500 px-6 py-2 font-semibold text-white transition hover:bg-monza-600 active:bg-monza-700"
          type="submit"
          [disabled]="myForm.invalid"
        >
          {{ isEditMode ? "Actualizar" : "Registrar" }}
        </button>
      </div>
    </div>
  </form>
</div>
