<div
  *ngIf="product; else loading"
  class="container mx-auto px-4 py-8 sm:px-8 lg:px-16"
>
  <div class="grid grid-cols-1 gap-12 bg-white p-12 lg:grid-cols-2">
    <!-- Product Images -->
    <div>
      <div class="relative h-auto w-full overflow-hidden">
        <img
          [alt]="product.nombre"
          [src]="imageSelected || product.imagenesUrls[0]"
          class="h-auto w-full transform transition-transform duration-500 ease-in-out hover:scale-105"
        />
      </div>
      <div class="mt-6 flex justify-center gap-4 overflow-x-auto py-4">
        <ng-container
          *ngFor="let imageUrl of product.imagenesUrls; let i = index"
        >
          <img
            (click)="changeImage(imageUrl)"
            [alt]="'Imagen ' + (i + 1)"
            [src]="imageUrl"
            class="h-16 w-16 transform cursor-pointer rounded-lg border-2 border-transparent object-cover opacity-70 transition-opacity duration-300 hover:scale-110 hover:border-black hover:opacity-100 sm:h-20 sm:w-20 lg:h-24 lg:w-24"
          />
        </ng-container>
      </div>
    </div>

    <!-- Product Details -->
    <div class="space-y-6 bg-white p-6">
      <span class="text-sm font-medium leading-none"
        >{{ product.subCategoria.categoria.nombre }} >
        {{ product.subCategoria.nombre }}</span
      >
      <h1
        class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
      >
        {{ product.nombre }}
      </h1>
      <div class="space-y-4">
        <p class="leading-7 [&:not(:first-child)]:mt-6">
          SKU: {{ product.sku }}
        </p>
        <p class="leading-7 [&:not(:first-child)]:mt-6">
          Color: {{ product.color }}
        </p>
        <p class="leading-7 [&:not(:first-child)]:mt-6">
          Modelo: {{ product.modelo }}
        </p>
        <p class="leading-7 [&:not(:first-child)]:mt-6">
          Stock: {{ product.stock }}
        </p>
      </div>
      <!-- Price -->
      <div class="flex items-center space-x-4">
        <span class="text-2xl font-semibold">$ {{ product.precioUSD }}</span>
        <span class="text-xl text-gray-500"
          >| S/ {{ product.precioSoles | number: "1.2-2" }}</span
        >
      </div>

      <!-- Buttons -->
      <div class="flex items-center gap-4">
        <a
          [href]="product.link"
          class="flex-1 rounded-lg bg-monza-500 px-6 py-3 text-center text-white transition-all hover:bg-monza-600 active:bg-monza-700"
          target="_blank"
        >
          Comprar
        </a>
        <a
          [routerLink]="['/shopusa/productos/editar', product.id]"
          class="flex-1 rounded-lg bg-monza-500 px-6 py-3 text-center text-white transition-all hover:bg-monza-600 active:bg-monza-700"
        >
          Editar
        </a>
        <button
          (click)="onDelete(product.id)"
          *ngIf="isAdmin"
          class="flex-1 rounded-lg bg-monza-500 px-6 py-3 text-center text-white transition-all hover:bg-monza-600 active:bg-monza-700"
        >
          Eliminar
        </button>
      </div>

      <!-- Product Description -->
      <div class="space-y-4">
        <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
          Descripción
        </h3>
        <p class="leading-7 [&:not(:first-child)]:mt-6">
          {{ product.descripcion }}
        </p>
        <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
          Caracteristicas
        </h3>
        <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
          <li *ngFor="let caracteristica of product.caracteristica.split('. ')">
            {{ caracteristica.trim() }}
          </li>
        </ul>
      </div>

      <!-- Additional Info -->
    </div>
  </div>
</div>

<ng-template #loading>
  <div
    class="flex h-screen animate-pulse items-center justify-center text-xl font-medium text-gray-600"
  >
    Cargando información del producto...
  </div>
</ng-template>
