<div role="button" tabindex="0" class="mb-4">
  <button
    (click)="toggle()"
    class="flex items-center w-full p-3 rounded-lg hover:bg-monza-700 hover:text-white transition-all"
  >
    <div class="grid place-items-center mr-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-box"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" />
        <path d="M12 12l8 -4.5" />
        <path d="M12 12l0 9" />
        <path d="M12 12l-8 -4.5" />
      </svg>
    </div>
    {{ title }}
    <svg
      *ngIf="isOpen"
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4 ml-auto"
      fill="currentColor"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        fill-rule="evenodd"
        d="M12 15.25l-7-7h14l-7 7z"
        clip-rule="evenodd"
      />
    </svg>
    <svg
      *ngIf="!isOpen"
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4 ml-auto"
      fill="currentColor"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path fill-rule="evenodd" d="M12 8.75l7 7h-14l7-7z" clip-rule="evenodd" />
    </svg>
  </button>

  <div *ngIf="isOpen" class="flex flex-col space-y-2 mt-2 pl-4">
    <a
      *ngIf="showList"
      [routerLink]="routeList"
      class="flex items-center w-full p-3 rounded-lg hover:bg-monza-700 hover:text-white transition-all"
    >
      Listado
    </a>
    <a
      [routerLink]="routeCreate"
      class="flex items-center w-full p-3 rounded-lg hover:bg-monza-700 hover:text-white transition-all"
    >
      {{ !showList ? "Upload" : "Crear" }}
    </a>
  </div>
</div>
