<form class="flex w-full flex-col items-center justify-center">
  <input
    class="my-4 w-full rounded-lg border p-4 pe-12 text-sm text-gray-700 shadow-sm"
    placeholder="Username"
    type="text"
  />

  <input
    class="my-4 w-full rounded-lg border p-4 pe-12 text-sm text-gray-700 shadow-sm"
    placeholder="Password"
    type="password"
  />
  <button
    class="mt-4 block w-full rounded-lg bg-monza-500 px-5 py-3 text-sm font-medium text-white hover:bg-monza-600 active:bg-monza-700"
  >
    Register
  </button>
</form>
