<div class="flex h-screen items-center justify-center p-6">
  <form [formGroup]="myForm" (ngSubmit)="onSave()">
    <div
      class="relative rounded-lg border bg-white p-8 shadow-md dark:border-gray-700"
    >
      <div class="absolute right-0 top-0" (click)="onReset()">
        <button
          class="bg-monza-500 px-4 py-3 text-white hover:bg-monza-600 active:bg-monza-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-refresh"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
            <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
          </svg>
        </button>
      </div>
      <h1
        class="scroll-m-20 border-b pb-2 text-center text-3xl font-semibold tracking-tight first:mt-0"
      >
        {{ isEditMode ? "Editar Producto" : "Registrar Producto" }}
      </h1>
      <br />
      <div class="mb-6">
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label class="mb-1 block text-gray-700">Nombre</label>
            <input
              type="text"
              class="w-full rounded-lg border px-3 py-2 dark:border-none"
              formControlName="nombre"
            />
          </div>
          <div>
            <label class="mb-1 block text-gray-700">SubCategoria</label>
            <select
              formControlName="subCategoriaId"
              class="w-full rounded-lg border px-3 py-2 dark:border-none"
            >
              <option value="" disabled selected>
                Seleccione una subcategoria
              </option>
              <option
                *ngFor="let subcategoria of subCategorias"
                [value]="subcategoria.id"
              >
                {{ subcategoria.nombre }}
              </option>
            </select>
          </div>
        </div>
        <div class="mt-4">
          <label class="mb-1 block text-gray-700">Descripcion</label>
          <textarea
            class="w-full rounded-lg border px-3 py-2"
            formControlName="descripcion"
            rows="6"
            type="text"
          >
          </textarea>
        </div>
        <div class="mt-4 grid grid-cols-3 gap-4">
          <div>
            <label class="mb-1 block text-gray-700">Marca</label>
            <input
              class="w-full rounded-lg border px-3 py-2"
              formControlName="marca"
              type="text"
            />
          </div>
          <div>
            <label class="mb-1 block text-gray-700">Modelo</label>
            <input
              class="w-full rounded-lg border px-3 py-2"
              formControlName="modelo"
              type="text"
            />
          </div>
          <div>
            <label class="mb-1 block text-gray-700">Precio USD</label>
            <input
              class="w-full rounded-lg border px-3 py-2"
              formControlName="precioUSD"
              type="number"
            />
          </div>
        </div>
        <div class="mt-4 grid grid-cols-1 gap-4">
          <div>
            <label class="mb-1 block text-gray-700">Caracteristica</label>
            <textarea
              class="w-full rounded-lg border px-3 py-2"
              formControlName="caracteristica"
              rows="4"
              type="text"
            >
            </textarea>
          </div>
        </div>
        <div class="mt-4 grid grid-cols-3 gap-4">
          <div>
            <label class="mb-1 block text-gray-700">Color</label>
            <input
              class="w-full rounded-lg border px-3 py-2"
              formControlName="color"
              type="text"
            />
          </div>
          <div>
            <label class="mb-1 block text-gray-700">SKU</label>
            <input
              class="w-full rounded-lg border px-3 py-2"
              formControlName="sku"
              type="text"
            />
          </div>
          <div>
            <label class="mb-1 block text-gray-700">Stock</label>
            <input
              class="w-full rounded-lg border px-3 py-2"
              formControlName="stock"
              type="number"
            />
          </div>
        </div>
        <div class="mt-4">
          <label class="mb-1 block text-gray-700">Link</label>
          <input
            class="w-full rounded-lg border px-3 py-2"
            formControlName="link"
            type="text"
          />
        </div>
      </div>
      <div class="mt-8 flex justify-center">
        <button
          class="w-full rounded-lg bg-monza-500 px-4 py-2 text-white hover:bg-monza-600 active:bg-monza-700"
          type="submit"
        >
          {{ isEditMode ? "Actualizar" : "Registrar" }}
        </button>
      </div>
    </div>
  </form>
</div>
