<div class="h-screen flex items-center justify-center p-6">
  <form [formGroup]="myForm" (ngSubmit)="onSave()">
    <div
      class="bg-white p-8 rounded-lg shadow-md border dark:border-gray-700 relative"
    >
      <div class="absolute top-0 right-0" (click)="onReset()">
        <button
          class="bg-monza-500 text-white px-4 py-3 hover:bg-monza-600 active:bg-monza-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-refresh"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
            <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
          </svg>
        </button>
      </div>
      <h1
        class="scroll-m-20 border-b pb-2 text-3xl text-center font-semibold tracking-tight first:mt-0"
      >
        {{ isEditMode ? "Editar Producto" : "Registrar Producto" }}
      </h1>
      <br />
      <div class="mb-6">
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label class="block text-gray-700 mb-1">Nombre</label>
            <input
              type="text"
              class="w-full rounded-lg border py-2 px-3 dark:border-none"
              formControlName="nombre"
            />
          </div>
          <div>
            <label class="block text-gray-700 mb-1">SubCategoria</label>
            <select
              formControlName="subCategoriaId"
              class="w-full rounded-lg border py-2 px-3 dark:border-none"
            >
              <option value="" disabled selected>
                Seleccione una subcategoria
              </option>
              <option
                *ngFor="let subcategoria of subCategorias"
                [value]="subcategoria.id"
              >
                {{ subcategoria.nombre }}
              </option>
            </select>
          </div>
        </div>
        <div class="mt-4">
          <label class="block text-gray-700 mb-1">Descripcion</label>
          <textarea
            type="text"
            class="w-full rounded-lg border py-2 px-3"
            formControlName="descripcion"
            rows="6"
          >
          </textarea>
        </div>
        <div class="grid grid-cols-3 gap-4 mt-4">
          <div>
            <label class="block text-gray-700 mb-1">Marca</label>
            <input
              type="text"
              class="w-full rounded-lg border py-2 px-3"
              formControlName="marca"
            />
          </div>
          <div>
            <label class="block text-gray-700 mb-1">Modelo</label>
            <input
              type="text"
              class="w-full rounded-lg border py-2 px-3"
              formControlName="modelo"
            />
          </div>
          <div>
            <label class="block text-gray-700 mb-1">Precio USD</label>
            <input
              type="number"
              class="w-full rounded-lg border py-2 px-3"
              formControlName="precioUSD"
            />
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 mt-4">
          <div>
            <label class="block text-gray-700 mb-1">Caracteristica</label>
            <textarea
              type="text"
              class="w-full rounded-lg border py-2 px-3"
              formControlName="caracteristica"
              rows="4"
            >
            </textarea>
          </div>
        </div>
        <div class="grid grid-cols-3 gap-4 mt-4">
          <div>
            <label class="block text-gray-700 mb-1">Color</label>
            <input
              type="text"
              class="w-full rounded-lg border py-2 px-3"
              formControlName="color"
            />
          </div>
          <div>
            <label class="block text-gray-700 mb-1">SKU</label>
            <input
              type="text"
              class="w-full rounded-lg border py-2 px-3"
              formControlName="sku"
            />
          </div>
          <div>
            <label class="block text-gray-700 mb-1">Stock</label>
            <input
              type="number"
              class="w-full rounded-lg border py-2 px-3"
              formControlName="stock"
            />
          </div>
        </div>
        <div class="mt-4">
          <label class="block text-gray-700 mb-1">Link</label>
          <input
            type="text"
            class="w-full rounded-lg border py-2 px-3"
            formControlName="link"
          />
        </div>
      </div>
      <div class="mt-8 flex justify-center">
        <button
          class="bg-monza-500 text-white px-4 py-2 rounded-lg hover:bg-monza-600 active:bg-monza-700 w-full"
          type="submit"
        >
          {{ isEditMode ? "Actualizar" : "Registrar" }}
        </button>
      </div>
    </div>
  </form>
</div>
